/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./app/shared/components/FormFieldWithLabel/FormFieldWithLabel.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.FormFieldWithLabel_field__9OwLn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
}
.FormFieldWithLabel_field__9OwLn label {
  font-family: var(--ffNS-700);
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-primary-color);
}
.FormFieldWithLabel_field__9OwLn .FormFieldWithLabel_charCounter___sqDR {
  font-family: var(--ffNS-400);
  font-style: normal;
  font-size: 11px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.03em;
  color: var(--darkGrayEleven);
}
.FormFieldWithLabel_field__9OwLn .FormFieldWithLabel_optionalText__P2WCB {
  font-family: var(--ffNS-500);
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  margin: 0 6px;
  color: var(--sonicSilver);
}
.FormFieldWithLabel_field__9OwLn input[type=text].FormFieldWithLabel_inputText__VuH4D {
  font-family: var(--ffNS-500);
  border: 1px solid var(--arsenic);
  border-radius: 2px;
  padding: 4px 10px;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
}
.FormFieldWithLabel_field__9OwLn input[type=text].FormFieldWithLabel_inputText__VuH4D:enabled:focus, .FormFieldWithLabel_field__9OwLn input[type=text].FormFieldWithLabel_inputText__VuH4D:enabled:hover {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(var(--mauve), 0.4);
  border-color: var(--arsenic);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./app/shared/components/TextField/TextField.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

